<title>HN - TP LOCAL</title>
<header>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
    <h1>Liste d'avis</h1>
    <link rel="stylesheet" href="~/resources/Index.css" />
</header>

<body>
    <nav>
        <ul>
            <li><a href="/Home">Acceuil</a></li>
            <li><a href="/Home/Index/Form">Remplir le formulaire</a></li>
        </ul>
    </nav>

 


</body>